body{
    background-color: white;
}

header{
    background-color: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left:0;
    top:0;
    width:100%;
}

.navigation{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 26px 20px;
    flex-wrap:wrap;
}
.navigation a{
    color: black;
}
.instalogo{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    width:30%;
}
.instalogo a{
    font-size:25px;
    padding-left: 10px;
}

.vl{
    border-left:1.5px solid #111;
    height:30px;
    margin-left: 20px;
}
.contact_icons{
    display: flex;
    justify-content:flex-end;
    width: 30%;
    padding-left: 100px;
}

.contact_icons a{
    
}