{% extends 'insta/base.html' %}

{%  block content %}
    {% for post in posts %} 
    <!-- looping through post -->
       <div class="card">
           <div class="card_header">
               <div class=profile_image>

               </div>
               <div class="post_info">
                   <div class="post_name">
                     
                    {{post.author}}
                   </div>
                   <div class="post_location">

                   </div>
                   <div class="post_options">
                       <i class="fas fa-ellipsis-h"></i>
                   </div>
               </div>
           </div>
           <div class="post_image">
               <img src="https://bit.ly/35aZwyB" alt="">

           </div>
           <div class="power">
               <a href=""><i class="fa fa-heart"></i></a>
               <a href=""><i class="fa fa-comment"></i></a>
               <a href=""><i class="fa fa-share-square"></i></a>
               <a href=""><i class="fa fa-bookmark"></i></a>

           </div>
           <div class="likes">
               <a href="">1.5k</a>

           </div>
           <div class="caption">
               <a href=""><h2>{{post.author}}</h2></a>
               <span><p>{{post.caption}}</p></span>
           </div>
           <div class="posted">
             {{post.created_date | timesince }} ago
              
           </div>
       </div>
       
    {% endfor %}
{% endblock %}       